<nav class="w-full p-2 bg-purple-900 h-[60px] absolute z-10 flex justify-center items-center">
  <a class="bg-purple-100 hover:bg-purple-200 text-black font-medium hover:font-black px-4 py-1 mx-4 rounded" href='/'
    onclick="singleSpaNavigate(event)">
    HOME
  </a>
  <h3 class="text-white font-medium px-10">THUNDER TO DO</h3>
  @if (!token) {
  <a class="bg-purple-100 hover:bg-purple-200 text-black font-medium hover:font-black px-4 py-1 mx-4 rounded"
    href='/auth' onclick="singleSpaNavigate(event)">
    LOGIN
  </a>
  } @else {
  <a class="bg-purple-100 hover:bg-purple-200 text-black font-medium hover:font-black px-4 py-1 mx-4 rounded"
    href='/boards' onclick="singleSpaNavigate(event)">
    BOARDS
  </a>
  <button class="bg-purple-100 hover:bg-purple-200 text-black font-medium hover:font-black px-4 py-1 mx-4 rounded"
    type="button" (click)="signout()">
    SIGNOUT
  </button>
  }
</nav>
