<section
  class="w-full min-h-screen absolute -z-10 top-0 left-0 flex flex-col justify-end items-center bg-[url('https://i.postimg.cc/9QSWJgnP/bg.jpg')] bg-center bg-no-repeat bg-cover">
</section>
<section class="w-full min-h-screen absolute bottom-0 left-0 flex flex-col justify-center items-center">
  <h3 class="text-yellow-300 text-[45px] font-medium px-10">THUNDER</h3>
  <a href="/auth" onclick="singleSpaNavigate(event)"
    class="text-white text-[30px] font-medium px-10 animate-bounce cursor-pointer">TO DO</a>
</section>
