<form class="w-[400px] flex items-center justify-center">
  <input [(ngModel)]="list.name"
    class="flex-grow text-start p-[10px] text-[16px] my-[10px] rounded border-2 border-purple-900" type="text"
    name="name" id="name" placeholder="Name">
  <svg (click)="create()" xmlns="http://www.w3.org/2000/svg" width="44px" height="44px" viewBox="0 0 24 24"
    style="fill: rgba(88, 28, 135, 1);transform: ;msFilter:;">
    <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z">
    </path>
  </svg>
</form>
